:root{
    --grid-cols: 1;
    --grid-rows: 1;
}

#container{
    display: grid;
   margin: auto;
    /* grid-gap: 1px; */
    height: 90%;
    width: 60%;
    

    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}



.grid-item{
    text-align: center;
    border: 1px solid green;
    text-align: center;
}

#wholeThing{
    background-color: gray;
}

#hdr{
    text-align: center;
    color: purple;
}